.article-box{
    height: 100%;
    position: relative;
}

.article{
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex: 0 1 auto;
    margin: 1rem;
    
    padding: 0;
}

.text_article{
    background-color: #f4edea;
    border-radius: 1rem;
    margin: 1rem;
    position: relative;
    top: 0;
    left: 0;
    flex: 0 1 50%;
    align-self: center;
}

.text_article h1{
    position: absolute;
    background-color: #0074B7;
    font-size: 2rem;
    font-weight: 500;
    color: #f4edea;
    padding: 1rem;
    border-radius: 1rem;
    top: -3rem;
    left: -1rem;
}

.text_article p{
    margin: 1rem;
}

#article_p1 {
    margin-top: 3rem;
}

.img_article{
    flex: 0 1 50%;
    align-self: center;
    margin: 1rem;
}

.image_box{
    border-radius: 1rem;
    width: 100%;
    max-height: 1200px;
    overflow: hidden;
}

.img_article img{
    height: 95%;
    width: 100%;
    object-fit: cover;
}

/*Mobile View Breakpoint*/
@media only screen and (max-width: 1000px){
    body{
        max-height: none;
        height: auto;
    }

    .article{
        flex-direction: column-reverse;
    }

    #img_side_article{
        height: 300px; /* I have to be an idiot cause I have NO IDEA why this is needed to make image resizing work properly*/
        flex: 1 1 auto;
        margin: 0px;
        padding: 0px;
    }
    
    #img_side_article img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0px;
        padding: 0px;
        /* display: none; */
    }

    #text_side_article{
        flex: 0 0 auto;
    }
}