.container{
    background-color: #60A3D9;
    margin: 1rem;
    border-radius: 1rem;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.article-box{
    flex: 1 1 auto;
    height: 100%;
    position: relative;
}

.article{
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    padding: 0;
}

.text_article{
    background-color: #f4edea;
    border-radius: 1rem;
    margin: 1rem;
    position: relative;
    top: 0;
    left: 0;
    flex: 0 0 50%;
    align-self: center;
}

.text_article h1{
    position: absolute;
    background-color: #0074B7;
    font-size: 2rem;
    font-weight: 500;
    color: #f4edea;
    padding: 1rem;
    border-radius: 1rem;
    top: -3rem;
    left: -1rem;
}

.text_article p{
    margin: 1.5rem 1rem 1rem 1rem;
}

#article_p1 {
    margin-top: 3.5rem;
}

.image_article{
    flex: 0 1 50%;
    margin: 1rem;
}

.image_article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/*Mobile View Breakpoint*/
@media screen and ((max-device-width: 768px) or (max-width: 768px)){
    body{
        min-height: none;
        max-height: none;
        height: auto;
    }

    .container{
        background-color: initial;
        margin: 0.5rem 0 0 0;
    }

    .article-box{
        height: auto;
    }
    
    .article{
        margin: 0;
        display: grid;
        grid-template-rows: 20rem fit-content(100rem);
        position: relative;
    }
    
    .text_article{
        border-radius: 0 0 0.5rem 0.5rem;
        margin: 0.5rem;
    }

    .text_article h1{
        left: -0.5rem;
        top: -2.5rem;
    }

    .text_article p{
    }

    #article_p1 {
        margin-top: 4rem;
    }

    .image_article{
        margin: 0.5rem;
        margin-bottom: -4rem;
        position: relative;
    }
    
    .image_article img{
        position: absolute;
        top: 0;
        bottom: -2rem;
        left: 0;
        right: 0;
    }
}

@media screen and ((max-device-width: 425px) or (max-width: 425px)){
    .article{
        grid-template-rows: 15rem fit-content(100rem);
    }

    .text_article h1{
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 2rem;
        top: -2.5rem;
    }

    #article_p1 {
        margin-top: 3rem;
    }

    .text_article p{
        padding: 0;
        margin: 0.5rem 0.5rem;
        font-size: 0.75rem;
    }
}