/*Holds Article Content */
.slideshow{
    /* background-color: teal; */
    padding: 0;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

/* Specific styling for buttons to scroll articles left and right */
.arrow{
    flex: 0 0 2rem;
    height: 2rem;
    margin: .4rem;
}

/* Box that holds all articles */
.article-box{
    flex: 1 1 auto;
    height: 100%;
    position: relative;
}

 
.article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0; /*All articles start off with 0 opacity. slideshow.js sets first article to visible using .showSlideX classes below*/
    transition: 0.3s;
}

/* Rules to show and hide specific articles. There has to be a better way to do this which I will probably figure out at some point */
.showSlide1 #article1{
    opacity: 100;
}

.showSlide2 #article2{
    opacity: 100;
}

.showSlide3 #article3{
    opacity: 100;
}

#text_side_article{
    background-color: rgb(244, 237, 234);
    border-radius: 1rem;
    z-index: 2; /* Needed to place any text/button over the top of any image. Hard to explain in comment */
    flex: 0 1 50%;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Header Rules */
.h1_bottom{
    font-size: 3rem;
    margin: 7rem 1rem 0 1rem;
}

.h1_top{
    position: absolute;
    background-color: #0074B7;
    font-size: 4rem;
    font-weight: 500;
    color: #f4edea;
    padding: 1rem;
    border-radius: 1rem;
    top: -4rem;
    left: -1rem;
}

/* Main text rules */
#text_side_article p{
    margin: 1rem 1rem;
    overflow: hidden;
    flex: 0 1 50%;
}

.article .button{
    background-color: #0074B7;
    border-color: #0074B7;
    color: #f4edea;
    height: 1.2rem;
    padding: 10px;
    margin-left: 1rem;
}

.article .button:hover{
    background-color: #60A3D9;
    border-color: #60A3D9;
    color: #f4edea;
}

.button_container{
    height: auto;
    margin: 1rem;
    display: flex;
    justify-content: end;
}

#img_side_article{
    flex: 0 1 50%;
    margin: 1rem;
}

#img_side_article img{
    height: 95%; /* Needed to seperate top of image from top of article container for some reason? Need to look into why margins not working in vertical direction*/
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/*Breakpoints*/
/*Mobile View Breakpoint*/
@media only screen and (max-device-width: 768px){
    .slideshow{
        margin: 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto 4rem;
    }

    .article-box{
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    .arrow{
        height: 2rem;
        margin: 1rem;
        font-size: 1rem;
    }

    /* Putting both buttons after the article */
    #left_button{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    #right_button{
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }


    .article{
        display: grid;
        grid-template-rows: 1fr fit-content(100rem);
        /* flex-direction: column-reverse; */
    }

    #text_side_article{
        /* height: 37rem; */
    }
    
    /* Header Rules */
    .h1_bottom{
        font-size: 1.5rem;
        margin: 5rem 1rem 0 1rem;
    }
    
    .h1_top{
        font-size: 3rem;
        top: -4rem;
    }
    
    .article .button{
        height: 1.2rem;
        font-size: 1rem;
    }

    #img_side_article{
        height: 100%;
        margin: 2rem;
        margin-bottom: -2rem;
        position: relative;
    }
    
    #img_side_article img{
        height: 100%;
        position: absolute;
        top: 0;
        bottom: -2rem;
        left: 0;
        right: 0;
    }
}

@media screen and (max-device-width: 425px){
    .slideshow{
        grid-template-rows: auto 8rem;
    }

    .arrow{
        height: 4rem;
        margin: 2rem;
        font-size: 2rem;
    }

    .article{
        display: grid;
        grid-template-rows: 1fr fit-content(100rem);
    }

    #text_side_article{
        height: 37rem;
    }
    
    /* Header Rules */
    .h1_bottom{
        font-size: 3rem;
        margin: 7rem 1rem 0 1rem;
    }
    
    .h1_top{
        font-size: 6rem;
        top: -7rem;
    }

    #text_side_article p{
        font-size: 1.5rem;
    }
    
    .article .button{
        height: 3.6rem;
        font-size: 2rem;
    }
}