body{
    max-height: none;
}

.article_box{
    flex: 1 1 auto;
    height: 100%;
    position: relative;
}

.article{
    background-color: #60A3D9;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: fit-content(100rem);
}

.text_article{
    background-color: #f4edea;
    border-radius: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    position: relative;
    grid-column: 1 / span 1;
}

.text_article h1{
    position: absolute;
    background-color: #0074B7;
    font-size: 2rem;
    font-weight: 500;
    color: #f4edea;
    padding: 1rem;
    border-radius: 1rem;
    top: -3rem;
    left: -1rem;
}

.text_article h2{
    margin: 3.5rem 1rem 1rem 1rem;
}

.text_article p{
    margin: 1rem;
}

.text_article h5{
    font-size: 1rem;
    display: inline;
}

ul{
    margin: 1rem;
}

ol{
    margin: 1rem;
}

.button{
    background-color: #0074B7;
    border-color: #0074B7;
    color: #f4edea;
    height: 1.2rem;
    padding: .66rem;
    margin-left: 1rem;
}

.button:hover{
    background-color: #0074B7;
    color: #f4edea;
}

.image_article{
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 50%;
    right: 1rem;
}

.image_article img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

/* Website Image Rules */
#portfolio_website img{
    object-position: left;
}

/* My Server Image Rules */
#my_server img{
    object-position: left;
}

/* Wordle Project Image Rules */
.wordle_image_article{
    background-color: #0074B7;
    border-radius: 1rem;
    top: 25%;
    bottom: 25%;
    left: 52%;
    right: 3rem;
    display: flex;
    
}
.wordle_image_box{
    flex: 1 1 25%;
    margin: -2rem;
}
#wordle_image_box_1{
    margin-left: -1rem;
    align-self: start;
}
#wordle_image_box_2{
    align-self: end;
}
#wordle_image_box_3{
    align-self: start;
}
#wordle_image_box_4{
    margin-right: -1rem;
    align-self: end;
}
.wordle_image_box img{
    width: 100%;
    object-fit: cover;
}

/* Rules for reversing every other article. May Implement at some point but uh not rn*/
.reverse_article{
    
}


/*Breakpoints*/
/*Mobile View Breakpoint*/
@media only screen and (max-device-width: 768px){
    body{
        height: auto;
    }
    
    .article{
        padding: 0;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20rem fit-content(100rem);
    }

    .text_article{
        border-radius: 0 0 0.5rem 0.5rem;
        margin: 1rem;
    }

    .text_article h1{
        top: -2.5rem;
        left: -0.5rem;
    }
    
    .text_article h2{
        margin: 4rem 1rem 0 1rem;
    }

    .button_container{
        height: auto;
        margin: 0.5rem;
        display: flex;
        justify-content: end;
    }

    .image_article{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 1rem;
        margin-bottom: -5rem;
   }

   .image_article img{
        border-radius: 0.5rem;
   }

   .wordle_image_article{
        background-color: none;
        border-radius: 0.5rem;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        display: block;
    }
    .wordle_image_box{
        margin: 0;
    }
    #wordle_image_box_1{
        display: none;
    }
    #wordle_image_box_2{
        display: none;
    }
    #wordle_image_box_3{
        display: none;
    }
    #wordle_image_box_4{
        margin: 0;
    }
    .wordle_image_box img{
        width: 100%;
        object-fit: cover;
    }

}

@media screen and ((max-device-width: 425px) or (max-width: 425px)){ 

    .article{
        grid-template-rows: 15rem fit-content(100rem);
    }

    .text_article h1{
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        top: -2rem;
    }

    .text_article h2{
        font-size: 1rem;
        margin: 2.5rem 1rem 1rem 1rem;
    }

    .text_article p{
        padding: 0;
        margin: 0.5rem 0.5rem;
        font-size: 0.75rem;
    }

    .text_article h5{
        font-size: 0.75rem;
        display: inline;
    }
    
    ul{
        margin: 0.5rem;
        font-size: 0.75rem;
    }
    
    ol{
        margin: 0.5rem;
        font-size: 0.75rem;
    }

    .article .button{
        height: .6rem;
        font-size: 0.5rem;
    }
}