/* Importing Fonts */
@font-face {
    font-family: 'rubik';
    src: url(../media/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}

/* Generic Rules */
html{
    font-family: rubik, sans-serif;
    font-size: 22px;
    background-color: lightpink;
}

ul{
    list-style-type: none;
}

body{
    max-width: 2050px;
    max-height: 100vh;
    margin:  0px auto;
}

/*Main Content of The Page*/ 
.content{
    max-width: 2000px;
    padding: 25px;
    margin: 25px 25px 0px 25px;
    background-color: white;
    border-radius: 25px;
}

/*Navigation Rules/Header */
.header{
    background-color: blueviolet; /*temporary*/
    height: 100px;
    max-width: 1950px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px 25px 25px;
    z-index: 10;
}

/*Nav Title*/
#nav_title{
    width: 25%;
    display: flex;
    align-items: center;
}
#nav_title h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 25px;
}

/*Navigation Links*/
#nav_links{
    width: 50%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_links li{
    margin: 0px 0.25rem;
}

#nav_links a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
}

/* Social Links */
#nav_social{
    width: 25%;
    display: flex;
    justify-content: end;
}
#nav_social img{
    height: 60px;
    width: 60px;
    padding: 0px;
    margin: 0px 0.25rem;
}

#nav_social #last_icon{
    margin-right: 25px;
}

/*Holds Article Content */
.article-box{
    background-color: teal;
    padding: 0px;
    margin: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: teal;
    width: 25px;
    height: 50px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/*Article CSS */
.article{
    background-color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#left_side_article{
    background-color: white;
    border-radius: 25px;
    width: 40%;
    max-height: 1000px;
}

#left_side_article h1{
    font-size: 3rem;
    margin: 25px 25px;
}

#left_side_article p{
    margin: 25px 25px;
}

.article .button{
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: teal;
    display: inline-flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    margin: 25px 25px;
}

#right_side_article{
    display: inline-flex;
    justify-content: center;
    width: 40%;
}

#right_side_article img{
    height: 900px;
    border-radius: 25px;
}

/*Footer*/
footer{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

/*Breakpoints*/

@media only screen and (max-width: 1650px) {
    #p2{
        display: none;
    }

    #right_side_article img{
        height: 750px;
    }
}

@media only screen and (max-width: 1450px) {
    #left_side_article h1{
        font-size: 2.4rem;
    }
    #left_side_article p{
        font-size: 0.8rem;
    }
    
    #p2{
        display: none;
    }

    #right_side_article img{
        height: 600px;
    }
}

/*Major Breakpoint - Resizing The Header and Article Box(es) */
@media only screen and (max-width: 1250px) {
    .content{
        max-width: 2000px;
        padding: 15px;
        margin: 15px 15px 0px 15px;
        background-color: white;
        border-radius: 15px;
    }
    
    .header{
        height: 60px;
        border-radius: 15px;
        margin: 15px 15px 15px 15px;
    }

    #nav_title h2{
        font-size: 1rem;
        font-weight: 500;
        margin-left: 15px;
    }
    
    #nav_links li{
        margin: 0px 0.25rem;
    }
    
    #nav_links a{
        font-size: 0.9rem;
        font-weight: 400;
    }
    
    #nav_social img{
        height: 36px;
        width: 36px;
        padding: 0px;
        margin: 0px 0.25rem;
    }
    
    #nav_social #last_icon{
        margin-right: 15px;
    }

    /*Holds Article Content */
.article-box{
    margin: 30px;
    border-radius: 15px;
}

.arrow{
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    width: 15px;
    height: 30px;
    margin: 7px;
    font-size: 0.6rem;
}

#left_side_article{
    border-radius: 15px;
}

#left_side_article h1{
    margin: 15px 15px;
}

#left_side_article p{
    margin: 15px 15px;
}

.article .button{
    border-radius: 7px;
    border-width: 2px;
    height: 18px;
    padding: 7px;
    margin: 15px 15px;
    font-size: 0.6rem;
}

#right_side_article img{
    height: 500px;
    border-radius: 15px;
}

}

/*Mobile View Breakpoint*/
@media only screen and (max-width: 1000px){

}