/* Importing Fonts */
@font-face {
    font-family: 'rubik';
    src: url(../media/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}

/* Generic Rules */
html{
    font-family: rubik, sans-serif;
    font-size: 22px;
    background-color: #f4edea;
    /* Might fix my apple text display issues */
    -webkit-font-smoothing: antialiased;
}

ul{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

body{
    max-width: 2050px;
    margin:  0px auto;
    padding-top: 1px;
    height: 99.5vh;
    min-height: 62rem;
    max-height: 75rem;
    display: flex;
    flex-direction: column;
}

.button_container{
    height: auto;
    margin: 1rem;
    display: flex;
    justify-content: end;
}

.button{
    background-color: #f4edea;
    border-color: #0074B7;
    color: #0074B7;
    border-radius: .4rem;
    border-style: solid;
    border-width: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.button:hover{
    background-color: #0074B7;
    color: #f4edea;
}

/*Main Content of The Page*/ 
.content{
    background-color: #003B73;
    max-width: 2000px;
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    border-radius: 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/*Navigation Rules/Header */
.header{
    flex: 0 0 auto;
    background-color: #f4edea;
    height: 4rem;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
}

/*Nav Title*/
#nav_title{
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
#nav_title h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1rem;
}

#nav_title h2:hover{
    color: #0074B7;
}

/* Mobile Hamburger Menu Icon. Only visible when width is <1000 */
.hamburger{
    display: none;
}

.bar{
}

/* Container for site links and social links. Largely useless for desktop display */
.nav_menu{
    flex: 3 3 auto;
    display: flex;
}

/*Site Navigation Links*/
#site_links{
    flex-grow: 2;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#site_links li{
    margin: 0 1rem;
}
#site_links a{
    font-size: 1rem;
    font-weight: 400;
}
#site_links a:hover{
    color: #0074B7;
}

/* Social Links */
#nav_social{
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.header_icon{
    height: 2.4rem;
    width: 2.4rem;
    padding: 0;
    margin: 0 0.25rem;
}

#linkedin_icon{
    background-image: url("../media/icons/linkedin.png");
    background-size: contain;
}

#linkedin_icon:hover{
    background-image: url("../media/icons/linkedin-blue.png");
}

#github_icon{
    background-image: url("../media/icons/github.png");
    background-size: contain;
}

#github_icon:hover{
    background-image: url("../media/icons/github-blue.png");
}

#instagram_icon{
    background-image: url("../media/icons/instagram.png");
    background-size: contain;
    margin-right: 1rem; /*Pushes group 1rem from the right edge of header since this is last icon*/
}

#instagram_icon:hover{
    background-image: url("../media/icons/instagram-blue.png");
}

/* Need to push icons in 1rem from right side of header bar */
#nav_social #last_icon{
    margin-right: 1rem;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
}

/*Breakpoints*/
/* 1500px Smaller Text Header and Footer */
@media screen and ((max-device-width: 1440px) or (max-width: 1440px)),
    screen and (max-device-width: 1440px) and (-webkit-device-pixel-ratio: 3){
    html{
        font-size: 14px;
    }
}

/*Mobile View Breakpoint*/
@media screen and ((max-device-width: 768px) or (max-width: 768px)),
    screen and (max-device-width: 768px) and (-webkit-device-pixel-ratio: 3){
    html{
        font-size: 22px;
    }
    
    body{
        background-color: #003B73;
        min-height: initial;
        max-height: initial;
    }

    .content{
        margin: .5rem;
        padding: 0;
        border-radius: 0;
    }
    
    /*Navigation Rules/Header */
    .header{
        height: 4rem;
        border-radius: 0.5rem;
        flex-wrap: wrap;
        justify-content: right;
        margin: 0;
    }

    #nav_title{
        position: absolute;
        left: 0;
        right: 2.5rem;
    }
    
    #nav_title h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 1rem;
    }

    .hamburger{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 1rem;
    }

    .bar{
       background-color: black;
       width: 24px;
       height: 3px;
       margin: 4px 0px;
       transition: 0.3s;
    }

    .hamburgerTransform #bar1{
        transform: translate(0, 7px) rotate(45deg);
    }

    .hamburgerTransform #bar2{
        opacity: 0;
    }

    .hamburgerTransform #bar3{
        transform: translate(0, -7px) rotate(-45deg);
    }
    
    .nav_menu{
        background-color: #BFD7ED;
        border-radius: 1rem;
        width: 100%;
        height: 0;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        z-index: 10;
        transition: 0.3s;
        position: absolute;
        top: 4.5rem;
    }

    .hamburgerTransform .nav_menu{
        height: auto;
    }
    
    /*Navigation Links*/
    #site_links{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        opacity: 0;
        transition: 0.3s;
    }

    .hamburgerTransform #site_links{
        margin-top: 0.5rem;
        opacity: 100;
    }
    
    #site_links li{
        display: flex;
        align-items: center;
    }
    
    #site_links a{
        line-height: 3rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    /* Social Links */
    #nav_social{
        width: 100%;
        display: flex;
        justify-content: start;
        height: 0;
        opacity: 0;
        transition: 0.3s;
    }

    .hamburgerTransform #nav_social{
        opacity: 100;
        height: auto;
    }

    .header_icon{
        height: 2rem;
        width: 2rem;
        padding: 0;
        margin: 1rem;
        margin-top: 0.5rem;
    }

    #nav_social #last_icon{
        margin-right: 0;
    }

    footer{
        display: none;
    }

}

@media screen and ((max-device-width: 425px) or (max-width: 425px)),
    screen and (max-device-width: 425px) and (-webkit-device-pixel-ratio: 3){ 

    .header{
        border-radius: 0.5rem;
    }

    #nav_title{
        width: 8rem;
    }
    
    #nav_title h2{
        font-size: 1.25rem;
    }

    .hamburger{
        right: 0.5rem;
    }

    .bar{
       width: 48px;
       height: 6px;
       margin: 8px 0px;
    }

    .hamburgerTransform #bar1{
        transform: translate(0, 14px) rotate(45deg);
    }

    .hamburgerTransform #bar3{
        transform: translate(0, -14px) rotate(-45deg);
    }
    
    #site_links a{
        /* line-height: 5rem;
        font-size: 3rem; */
    }
    
    .header_icon{
        margin: 1rem 1rem 1rem 1rem;
    }
}