/* Importing Fonts */
@font-face {
    font-family: 'rubik';
    src: url(../media/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}

/* Generic Rules */
html{
    font-family: rubik, sans-serif;
    font-size: 22px;
    background-color: lightpink;
}

ul{
    list-style-type: none;
}

body{
    max-width: 2050px;
    margin:  0px auto;
    padding-top: 1px;
    height: 99.5%; /* 99.5 to account for auto browser padding, again janky but gets the job done */
    display: flex;
    flex-direction: column;
}

.button{
    background-color: white;
    border-color: teal;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover{
    background-color: teal;
    border-color: white;
}

/*Main Content of The Page*/ 
.content{
    background-color: white;
    max-width: 2000px;
    min-height: 800px;
    padding: 25px;
    margin: 25px 25px 0px 25px;
    border-radius: 25px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/*Navigation Rules/Header */
.header{
    background-color: blueviolet; /*temporary*/
    height: 100px;
    border-radius: 25px;
    margin: 25px 25px 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

/*Nav Title*/
#nav_title{
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#nav_title h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 25px;
}

/* Mobile Hamburger Menu Icon. Only visible when width is <1000 */
.hamburger{
    display: none;
}

.bar{
}

/* Container for site links and social links. Largely useless for desktop display */
.nav_menu{
    flex-grow: 3;
    display: flex;
}

/*Site Navigation Links*/
#site_links{
    flex-grow: 2;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#site_links li{
    margin: 0px 25px;
}
#site_links a{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
}
#site_links a:hover{
    color: white;
}

/* Social Links */
#nav_social{
    flex-grow: 1;
    display: flex;
    justify-content: end;
}
#nav_social img{
    height: 60px;
    width: 60px;
    padding: 0px;
    margin: 0px 0.25rem;
}
/* Need to push icons in 25px from right side of header bar */
#nav_social #last_icon{
    margin-right: 25px;
}

/*Holds Article Content */
.slideshow{
    background-color: teal;
    padding: 0px;
    margin: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

/* Specific styling for buttons to scroll articles left and right */
.arrow{
    flex: 0 0 50px;
    height: 50px;
    margin: 10px;
}

/* Box that holds all articles */
.article-box{
    flex: 1 1 auto;
    height: 100%;
    position: relative;
}

 
.article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0; /*All articles start off with 0 opacity. slideshow.js sets first article to visible using .showSlideX classes below*/
    transition: 0.3s;
    background-color: green;
}

/* Rules for a specific article */
#article1{
    flex-direction: row-reverse;
}

/* Rules to show and hide specific articles. There has to be a better way to do this which I will probably figure out at some point */
.showSlide1 #article1{
    opacity: 100;
}

.showSlide2 #article2{
    opacity: 100;
}

#text_side_article{
    background-color: white;
    border-radius: 25px;
    z-index: 2; /* Needed to place any text/button over the top of any image. Hard to explain in comment */
    flex: 0 1 50%;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

/* Header Rules */
#text_side_article h1{
    font-size: 3rem;
    margin: 25px 25px;
}

/* Main text rules */
#text_side_article p{
    margin: 25px 25px;
    overflow: hidden;
    flex: 0 0 auto;
}

.article .button{
    height: 30px;
    padding: 10px;
    margin: 25px 25px;
}

#img_side_article{
    background-color: red;
    flex: 0 1 auto;
    margin: 25px;
}

#img_side_article img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

/*Breakpoints*/

/* 1500px Swap To Vertical Article */
@media only screen and (max-width: 1500px){
    .article{
        flex-direction: column-reverse;
    }
    #article1{
        flex-direction: column-reverse;
    }
}

/*Mobile View Breakpoint*/
@media only screen and (max-width: 1000px){
    html{
        font-size: 16px;
    }
    
    body{
    }
    
    /*Main Content of The Page*/ 
    .content{
        padding: 10px;
        margin: 10px 10px 0px 10px;
        border-radius: 10px;
    }
    
    /*Navigation Rules/Header */
    .header{
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    /*Nav Title*/
    #nav_title{
    }
    
    #nav_title h2{
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 10px;
    }

    .hamburger{
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
    }

    .bar{
       background-color: black;
       width: 24px;
       height: 3px;
       margin: 4px 0px;
       transition: 0.3s;
    }

    .hamburgerTransform #bar1{
        transform: translate(0, 7px) rotate(45deg);
    }

    .hamburgerTransform #bar2{
        opacity: 0;
    }

    .hamburgerTransform #bar3{
        transform: translate(0, -7px) rotate(-45deg);
    }
    
    .nav_menu{
        background-color: lightblue;
        border-radius: 10px;
        width: 100%;
        height: 0%;
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        z-index: 10;
        transition: 0.3s;
    }

    .hamburgerTransform .nav_menu{
        margin-top: 10px;
        height: 240px;
    }
    
    /*Navigation Links*/
    #site_links{
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 0%;
        opacity: 0;
        transition: 0.3s;
    }

    .hamburgerTransform #site_links{
        opacity: 100;
        height: 180px;
    }
    
    #site_links li{
        height: 60px;
        display: flex;
        align-items: center;
    }
    
    #site_links a{
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    /* Social Links */
    #nav_social{
        width: 100%;
        display: flex;
        justify-content: start;
        height: 0%;
        opacity: 0;
        transition: 0.3s;
    }

    .hamburgerTransform #nav_social{
        opacity: 100;
        height: 60px;
    }

    #nav_social img{
        height: 40px;
        width: 40px;
        padding: 0px;
        margin: 10px;
    }

    #nav_social #last_icon{
        margin-right: 0px;
    }

    /*Holds Article Content */
    .slideshow{
        background-color: teal;
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .arrow{
        border-radius: 7px;
        border-style: solid;
        border-width: 2px;
        width: 15px;
        height: 30px;
        margin: 7px;
        font-size: 0.6rem;
    }
    
    /*Article CSS */
    .article{
        background-color: yellow;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    
    #text_side_article{
        background-color: white;
        border-radius: 10px;
        width: 80%;
        max-height: 1000px;
        margin: 10px;
    }
    
    #text_side_article h1{
        font-size: 1.5rem;
        margin: 10px 10px;
    }
    
    #text_side_article p{
        margin: 10px 10px;
    }
    
    .article .button{
        border-radius: 7px;
        border-width: 2px;
        height: 18px;
        padding: 7px;
        margin: 15px 15px;
        font-size: 0.6rem;
    }
    
    #img_side_article{
        display: inline-flex;
        justify-content: center;
        width: 80%;
        margin: 10px;
    }
    
    #img_side_article img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    
    /*Footer*/
    footer{
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
    }
}